/************************* 404 page *********************************/
.bg-page-404{
    background-image: $bg-home;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;

    .pl-5, .px-5 {
     padding-left: 25rem!important;
    }
    .mt-5, .my-5 {
    margin-top: 3rem!important;
    }
}