/************************* footer *********************************/

.bg-footer{
    background-image: $bg-footer;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
}