/************************* login-page *********************************/

.bg-login{
    background-image: $bg-login;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .m-top{
        margin-top: 250px;;
    }
    .bg-green-form{
        background-color: $dark-green;
        border-radius: 5px;

        h1{
            top: -16%;
            right: 8%;
        }
        label{
            font-family: $font-monts-med;
            color: $beige;
        }
        input{
            background-color: $dark-green;
            border: 1px solid $yellow;
            border-radius: 5px;
        }
        button{
            width: 150px;
            background-color: $yellow;
            border-radius: 5px;
            color: $beige;
            font-family: $font-monts-med;
        }      
    }
}