/************************* main-user *********************************/
.main-user{
    p{
        font-family: $font-har-med;
        color: $dark-green;
        padding-top: 5px;
    }
    .tired{
        color: $light-green;
    }
    .happy{
        color: $orange;
    }
    .stressed{
        color: $yellow;
    }
}