/************************* main-admin *********************************/
@mixin legend{
    width: 60px;
    height: 10px;
    border-radius: 5px;
}

.main-admin{

    .navbar-light .navbar-nav .nav-link{
        color: $beige;
        background-color: $dark-green;
        width: 200px;
        font-family: $font-monts-med;
        border-radius: 5px;
        &:active{
            border: 2px solid $yellow;
        }
        &:hover{
            border: 2px solid $yellow;
        }
        &:last-child{
            width: 150px;
        }
    }

    .border-orange{
        @include legend;
        background-color: $orange;
    }  
    .border-yellow{
        @include legend;
        background-color: $yellow;
    }
    .border-green{
        @include legend;
        background-color: $light-green;
    }

    .bg-green{
        background-color: $dark-green;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;

        .col-5{
            background-color: $beige;
            border-radius: 5px;

            .h2{
                color: $dark-green;
                font-family: $font-har-med;
            }
        }
    }
    
}