/************************* bg-image *********************************/
$bg-home: url(../medias/bg-body.png);
$bg-footer: url(../medias/bg-footer.png);
$bg-login: url(../medias/bg-login.png);





