/************************* bg-image *********************************/
$bg-home: url(./public/medias/bg-body.png);
$bg-footer: url(./public/medias/bg-footer.png);
$bg-login: url(./public/medias/bg-login.png);





