/************************* header *********************************/
.bg-home{
    background-image: $bg-home;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    z-index: -1;
}
header{
    p{
        font-family: $font-har-med;
        color: $beige;
        letter-spacing: 5px;
    }
}

