/************************* colors *********************************/
/************************* font *********************************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@font-face {
  font-family: "Harriet Display Medium";
  src: url(../scss/HarrietDisplay-Medium.woff);
}
/************************* bg-image *********************************/
/************************* login-page *********************************/
.montserrat{
  font-family: "Montserrat", sans-serif;
}

.bg-login {
  background-image: url(/medias/bg-login.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.bg-login .bg-green-form {
  background-color: #004445;
  border-radius: 5px;
}
.bg-login .bg-green-form label {
  font-family: "Montserrat", sans-serif;
  color: #faf5e4;
}
.bg-login .bg-green-form input {
  background-color: #004445;
  border: 1px solid #f8b400;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: #faf5e4;
}
.bg-login .bg-green-form button {
  width: 150px;
  background-color: #f8b400;
  border: 1px solid #f8b400;
  border-radius: 5px;
  color: #faf5e4;
  font-family: "Montserrat", sans-serif;
}

/************************* mediaqueries*********************************/
@media (max-width: 575.98px) {
  h1 img {
    width: 240px;
    height: 75px;
  }
}
/************************* header *********************************/
.bg-home {
  background-image: url(/medias/bg-body.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  z-index: -1;
}

header p {
  font-family: "Harriet Display Medium";
  color: #faf5e4;
  letter-spacing: 5px;
}

/************************* mediaqueries *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  header .h2 {
    font-size: 1.5rem;
  }
  header img {
    width: 160px;
    height: 42.5px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  header .h2 {
    font-size: 1.5rem;
  }
  header img {
    width: 120px;
    height: 32px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  header .h2 {
    font-size: 1.5rem;
  }
  header img {
    width: 160px;
    height: 42px;
  }
}
@media (max-width: 575.98px) {
  header .h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  header img {
    width: 160px;
    height: 42px;
  }
}
/************************* main-user *********************************/
.main-user p {
  font-family: "Harriet Display Medium";
  color: #004445;
  padding-top: 5px;
}
.main-user .tired {
  color: #2c786c;
}
.main-user .happy {
  color: #f16731;
}
.main-user .stressed {
  color: #f8b400;
}
.main-user input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}
.main-user .button-styles{
  color: #faf5e4;
  background-color: #004445;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: 2px solid; 
}
.main-user .button-styles:active{
  border: 2px solid #f8b400;
}
.main-user .button-styles:hover{
  border: 2px solid #f8b400;
}

/********************* mediaqueries ****************************/
@media (max-width: 575.98px) {
  .main-user button, .main-user input, .main-user optgroup, .main-user select, .main-user textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 90%;
  }
  .main-user .h3, .main-user h3 {
    font-size: 1.3rem;
  }
}
/************************* main-admin *********************************/
.main-admin .navbar-light .navbar-nav .nav-link {
  color: #faf5e4;
  background-color: #004445;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  border: 2px solid;
}
.main-admin .navbar-light .navbar-nav .nav-link:active {
  border: 2px solid #f8b400;
}
.main-admin .navbar-light .navbar-nav .nav-link:hover {
  border: 2px solid #f8b400;
}
.main-admin .navbar-light .navbar-nav .nav-link:last-child {
  width: 150px;
}
.main-admin .border-orange {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-color: #f16731;
}
.main-admin .border-yellow {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-color: #f8b400;
}
.main-admin .border-green {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-color: #2c786c;
}
.main-admin .bg-green {
  background-color: #004445;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-admin .bg-green .bg-beige {
  background-color: #faf5e4;
  border-radius: 5px;
}
.main-admin .bg-green .bg-beige .h2 {
  color: #004445;
  font-family: "Harriet Display Medium";
}

/************************* mediaqueries *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-admin .border-orange, .main-admin .border-yellow, .main-admin .border-green {
    width: 30px;
  }
  .main-admin img {
    width: 64px;
    height: 64px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-admin .navbar {
    display: block;
    text-align: end;
    position: absolute;
    width: 100%;
    z-index: 9999;
    right: 0;
    padding-top: 5%;
  }
  .main-admin .navbar-light .navbar-toggler {
    color: #004445;
    border-color: #004445;
  }
  .main-admin .navbar-light .navbar-nav .nav-link {
    width: 100%;
  }
  .main-admin .navbar-nav {
    background-color: #faf5e4;
  }
  .main-admin img {
    width: 64px;
    height: 64px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main-admin .navbar {
    display: block;
    text-align: end;
    position: absolute;
    width: 100%;
    z-index: 9999;
    right: 0;
    padding-top: 5%;
  }
  .main-admin .navbar-light .navbar-toggler {
    color: #004445;
    border-color: #004445;
  }
  .main-admin .navbar-light .navbar-nav .nav-link {
    width: 100%;
  }
  .main-admin .navbar-nav {
    background-color: #faf5e4;
  }
  .main-admin img {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 575.98px) {
  .main-admin .navbar {
    display: block;
    text-align: end;
    position: absolute;
    width: 100%;
    z-index: 9999;
    right: 0;
    padding-top: 5%;
  }
  .main-admin .navbar-light .navbar-toggler {
    border-color: #004445;
  }
  .main-admin .navbar-light .navbar-nav .nav-link {
    width: 100%;
  }
  .main-admin .navbar-nav {
    background-color: #faf5e4;
  }
  .main-admin img {
    width: 32px;
    height: 32px;
  }
  .main-admin #myChart {
    width: 250px;
    height: 250px;
  }
  .main-admin .border-green, .main-admin .border-orange, .main-admin .border-yellow {
    width: 30px;
  }
  .main-admin .bg-green .h2 {
    font-size: 1.5rem;
  }
}
/************************* disconnected page *********************************/
.bg-green-login {
  background-image: url(/medias/bg-login.png);
  min-height: 100vh;
  min-width: 100vw;
}
.bg-green-login .box {
  width: 415px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #004445;
  text-align: center;
  height: 490px;
  border-radius: 5px;
}
.bg-green-login .box img {
  vertical-align: middle;
  border-style: none;
  padding-top: 30px;
}
.bg-green-login .box h2, .bg-green-login .box h2 {
  font-size: 2rem;
  color: #ffffff;
}
.bg-green-login .box .icon {
  width: 20%;
    height: auto;
}

.deconnexion{
  background-color:#2c786c;
}

/*************************** mediaqueries *************/
@media (min-width: 992px) and (max-width: 1199.98px){
  .bg-green-login .box img {
      vertical-align: middle;
      border-style: none;
      padding-top: 0px;
  }

  .bg-green-login .box h2, .bg-green-login .box h2 {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 2.5rem;
      font-weight: 500;
      line-height: 1.2;
  }

  .bg-green-login .box .icon {
      width: 180px;
      height: 185px;
  }

} 
@media (min-width: 768px) and (max-width: 991.98px){
  .bg-green-login .box img {
      vertical-align: middle;
      border-style: none;
      padding-top: 0px;
  }

  .bg-green-login .box h2, .bg-green-login .box h2 {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 2.5rem;
      font-weight: 500;
      line-height: 1.2;
  }

  .bg-green-login .box .icon {
      width: 180px;
      height: 185px;
  }

}
@media (max-width: 575.98px){
  .bg-green-login .box {
      width: 309px;
      padding: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #004445;
      text-align: center;
      height: 490px;
      border-radius: 5px;
  }
}
/************************* 404 page *********************************/
.main-404 h2{
    font-size: 4rem;
    margin-top: 150px;

}
/************************* footer *********************************/
.bg-footer {
  background-image: url(/medias/bg-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
}

/************************* mediaqueries *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer img {
    width: 160px;
    height: 42.5;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  footer img {
    width: 160px;
    height: 42.5;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  footer img {
    width: 160px;
    height: 42.5;
  }
}
@media (max-width: 575.98px) {
  footer .pt-4 {
    padding-top: 0.5rem !important;
  }
  footer .pt-4 img {
    width: 160px;
    height: 42.5;
  }
}

/*# sourceMappingURL=styles.css.map */
