/************************* main-admin *********************************/
@mixin legend{
    width: 60px;
    height: 10px;
    border-radius: 5px;
}

.main-admin{

    .navbar-light .navbar-nav .nav-link{
        color: $beige;
        background-color: $dark-green;
        width: 200px;
        font-family: $font-monts-med;
        border-radius: 5px;
        border: 2px solid;
        
        &:active{
            border: 2px solid $yellow;
        }
        &:hover{
            border: 2px solid $yellow;
        }
        &:last-child{
            width: 150px;
        }
    }

    .border-orange{
        @include legend;
        background-color: $orange;
    }  
    .border-yellow{
        @include legend;
        background-color: $yellow;
    }
    .border-green{
        @include legend;
        background-color: $light-green;
    }

    .bg-green{
        background-color: $dark-green;
        background-repeat: no-repeat;
        background-size: cover;

        .bg-beige{
            background-color: $beige;
            border-radius: 5px;

            .h2{
                color: $dark-green;
                font-family: $font-har-med;
            }
        }
    }
    
}

/************************* mediaqueries *********************************/
@media (min-width: 992px) and (max-width: 1199.98px){
    .main-admin{
        .border-orange, .border-yellow, .border-green{
            width: 30px;
        }
        img{
            width: 64px;
            height: 64px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-admin{
        .navbar{
            display: block;
            text-align: end;
            position: absolute;
            width: 100%;
            z-index: 9999;
            right: 0;
            padding-top: 5%;
        }
        .navbar-light .navbar-toggler{
            color: $dark-green;
            border-color: $dark-green;
        }
        .navbar-light .navbar-nav .nav-link{
            width: 100%;
        }
        .navbar-nav{
            background-color: $beige;           
        }
        img{
            width: 64px;
            height: 64px;
        }
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
    .main-admin{
        .navbar{
            display: block;
            text-align: end;
            position: absolute;
            width: 100%;
            z-index: 9999;
            right: 0;
            padding-top: 5%;
        }
        .navbar-light .navbar-toggler{
            color: $dark-green;
            border-color: $dark-green;
        }
        .navbar-light .navbar-nav .nav-link{
            width: 100%;
        }
        .navbar-nav{
            background-color: $beige;           
        }
        img{
            width: 64px;
            height: 64px;
        }
    }
}
@media (max-width: 575.98px){
    .main-admin{
        .navbar{
            display: block;
            text-align: end;
            position: absolute;
            width: 100%;
            z-index: 9999;
            right: 0;
            padding-top: 5%;
        }
        .navbar-light .navbar-toggler{
            border-color: $dark-green;
        }
        .navbar-light .navbar-nav .nav-link{
            width: 100%;
        }
        .navbar-nav{
            background-color: $beige;           
        }
        img{
            width: 32px;
            height: 32px;
        }
        #myChart{
            width: 250px;
            height: 250px;
        }
        .border-green, .border-orange, .border-yellow{
            width: 30px;
        }
        .bg-green{
            .h2{
                font-size: 1.5rem;
            }
        }
    }
}