/************************* login-page *********************************/

.bg-login{
    background-image: $bg-login;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .bg-green-form{
        background-color: $dark-green;
        border-radius: 5px;

        label{
            font-family: $font-monts-med;
            color: $beige;
        }
        input{
            background-color: $dark-green;
            border: 1px solid $yellow;
            border-radius: 5px;
            font-family: $font-monts-med;
            color: $beige;
        }
        button{
            width: 150px;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 5px;
            color: $beige;
            font-family: $font-monts-med;
        }      
    }
}

/************************* mediaqueries*********************************/
@media (max-width: 575.98px){ 
        h1 img{
            width: 240px;
            height: 75px;
        }
}       


