{% extends 'index.html.twig' %}

{% block content %}

    <main class="main-404">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="w-100"></div>
                    <div class="col-12 d-flex justify-content-center align-items-center text-center">
                         <h2 class="font-size-5 text-uppercaser">Erreur<br>404</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
        
{% endblock %}
