{% block content %}

    <div class="container-fluid bg-footer">
      <div class="container">
          <div class="row d-flex justify-content-center">
              <p class="my-5 pt-2"><img src="../media/logo.png" alt="soft-rh-logo" width="320" height="85"></p>
          </div>
      </div>
    </div>  
    
{% endblock %}