{% block content %}

    <div class="container-fluid bg-footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <p class="my-0 my-sm-2 my-md-2 my-lg-3 my-xl-5 pb-2 pb-sm-4 pb-md-4 pb-lg-4 pb-xl-0 pt-4"><img src="../medias/logo.png" alt="soft-rh-logo" width="320" height="85"></p>
            </div>
        </div>
    </div> 
    
{% endblock %}