{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

<div class="example-wrapper">
<h1>Hello veuillez voter svp! ✅</h1>

<div class="container">
<div class="row">

{% for emotion in emotions %}
<div class="col-4"><a href="{{ path('reponse', { 'id': emotion.id}) }}"><img src="{{ emotion.imagesrc }}" alt="{{ emotion.name }}"></a></div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}
